{% extends "base.html" %}

{% block content %}

    <form method="POST">
        <label id="username">
            Please add a username
            <input type="text" id="username" name='user_name' value="{{username}}" />
            <p class="error">{{username_error}}</p>
            <br>
        </label>
        <label id="password">
            Please input a Password
            <input type="password" id="password" name='password' />
            <p class="error">{{password_error}}</p>
            <br>
        </label>
        <label id="validate_password">
            Validate Password 
            <input type="password" id="validate_password" name='validate_password' />
            <p class="error">{{validate_password_error}}</p>
            <br>
        </label>
        <label id="email">
            Input email*
            <input type="text" id="email" name='email' value="{{email}}" />
            <p class="error">{{email_error}}</p>
        </label>
        <input type="submit" />
        <p> * fields are optional</p>
    </form>

{% endblock %}
